:root {
    --vamtam-default-bg-color: #fff;
    --vamtam-default-line-color: rgba(var(--vamtam-accent-color-7-rgb), 1);
    --vamtam-small-padding: 20px;
    --vamtam-horizontal-padding: 50px;
    --vamtam-vertical-padding: 30px;
    --vamtam-horizontal-padding-large: 60px;
    --vamtam-vertical-padding-large: 60px;
    --vamtam-no-border-link: none;
    --vamtam-border-radius: 0px;
    --vamtam-border-radius-oval: 0px;
    --vamtam-border-radius-small: 0px;
    --vamtam-overlay-color: #000000;
    --vamtam-overlay-color-hc: #ffffff;
    --vamtam-box-outer-padding: 60px;
    --vamtam-body-link-regular: #171616;
    --vamtam-body-link-visited: #171616;
    --vamtam-body-link-hover: #DB2411;
    --vamtam-body-link-active: #DB2411;
    --vamtam-input-border-radius: 0px 0px 0px 0px;
    --vamtam-input-border-color: transparent;
    --vamtam-btn-text-color: #FFFFFF;
    --vamtam-btn-hover-text-color: #FFFFFF;
    --vamtam-btn-bg-color: #171616;
    --vamtam-btn-hover-bg-color: #DB2411;
    --vamtam-site-max-width: 1260px;
    --vamtam-primary-font-color: #4C4C4C;
    --vamtam-h1-color: #171616;
    --vamtam-h2-color: #171616;
    --vamtam-h3-color: #171616;
    --vamtam-h4-color: #171616;
    --vamtam-h5-color: #171616;
    --vamtam-h6-color: #171616;
    --vamtam-accent-color-1: #171616;
    --vamtam-accent-color-1-hc: #FFFFFF;
    --vamtam-accent-color-1-rgb: 23, 22, 22;
    --vamtam-accent-color-2: #DB2411;
    --vamtam-accent-color-2-hc: #FFFFFF;
    --vamtam-accent-color-2-rgb: 219, 36, 17;
    --vamtam-accent-color-3: #4C4C4C;
    --vamtam-accent-color-3-hc: #FFFFFF;
    --vamtam-accent-color-3-rgb: 76, 76, 76;
    --vamtam-accent-color-4: #FFFFFF;
    --vamtam-accent-color-4-hc: #000000;
    --vamtam-accent-color-4-rgb: 255, 255, 255;
    --vamtam-accent-color-5: #F3F3F3;
    --vamtam-accent-color-5-hc: #000000;
    --vamtam-accent-color-5-rgb: 243, 243, 243;
    --vamtam-accent-color-6: #000000;
    --vamtam-accent-color-6-hc: #FFFFFF;
    --vamtam-accent-color-6-rgb: 0, 0, 0;
    --vamtam-accent-color-7: #00000080;
    --vamtam-accent-color-7-hc: #FFFFFF;
    --vamtam-accent-color-7-rgb: 0, 0, 0;
    --vamtam-accent-color-8: #FFFFFFB3;
    --vamtam-accent-color-8-hc: #000000;
    --vamtam-accent-color-8-rgb: 255, 255, 255;
    --vamtam-sticky-header-bg-color: #FFFFFF;
    --vamtam-primary-font-font-family: 'Poppins';
    --vamtam-primary-font-font-weight: 400;
    --vamtam-primary-font-font-size-desktop: 16px;
    --vamtam-primary-font-font-size-tablet: 16px;
    --vamtam-primary-font-font-size-phone: 16px;
    --vamtam-primary-font-line-height-desktop: 1.5em;
    --vamtam-primary-font-line-height-tablet: 1.5em;
    --vamtam-primary-font-line-height-phone: 1.5em;
    --vamtam-h1-font-family: 'Poppins';
    --vamtam-h1-font-weight: 700;
    --vamtam-h1-transform: uppercase;
    --vamtam-h1-font-size-desktop: 68px;
    --vamtam-h1-font-size-tablet: 55px;
    --vamtam-h1-font-size-phone: 40px;
    --vamtam-h1-line-height-desktop: 1.1em;
    --vamtam-h1-line-height-tablet: 1.1em;
    --vamtam-h1-line-height-phone: 1.1em;
    --vamtam-h2-font-family: 'Poppins';
    --vamtam-h2-font-weight: 700;
    --vamtam-h2-font-style: normal;
    --vamtam-h2-transform: uppercase;
    --vamtam-h2-font-size-desktop: 48px;
    --vamtam-h2-font-size-tablet: 35px;
    --vamtam-h2-font-size-phone: 30px;
    --vamtam-h2-line-height-desktop: 1.2em;
    --vamtam-h2-line-height-tablet: 1.2em;
    --vamtam-h2-line-height-phone: 1.2em;
    --vamtam-h3-font-family: 'Poppins';
    --vamtam-h3-font-weight: 700;
    --vamtam-h3-transform: uppercase;
    --vamtam-h3-font-size-desktop: 30px;
    --vamtam-h3-font-size-tablet: 28px;
    --vamtam-h3-font-size-phone: 28px;
    --vamtam-h3-line-height-desktop: 1.3em;
    --vamtam-h3-line-height-tablet: 1.3em;
    --vamtam-h3-line-height-phone: 1.3em;
    --vamtam-h4-font-family: 'Poppins';
    --vamtam-h4-font-weight: 500;
    --vamtam-h4-transform: uppercase;
    --vamtam-h4-font-size-desktop: 22px;
    --vamtam-h4-font-size-tablet: 22px;
    --vamtam-h4-font-size-phone: 22px;
    --vamtam-h4-line-height-desktop: 1.4em;
    --vamtam-h4-line-height-tablet: 1.4em;
    --vamtam-h4-line-height-phone: 1.4em;
    --vamtam-h5-font-family: 'Poppins';
    --vamtam-h5-font-weight: 700;
    --vamtam-h5-transform: uppercase;
    --vamtam-h5-font-size-desktop: 20px;
    --vamtam-h5-font-size-tablet: 20px;
    --vamtam-h5-font-size-phone: 20px;
    --vamtam-h5-line-height-desktop: 1.4em;
    --vamtam-h5-line-height-tablet: 1.4em;
    --vamtam-h5-line-height-phone: 1.4em;
    --vamtam-h5-letter-spacing-desktop: 2px;
    --vamtam-h5-letter-spacing-tablet: 2px;
    --vamtam-h5-letter-spacing-phone: 2px;
    --vamtam-h6-font-family: 'Poppins';
    --vamtam-h6-font-weight: 600;
    --vamtam-h6-transform: uppercase;
    --vamtam-h6-font-size-desktop: 18px;
    --vamtam-h6-font-size-tablet: 18px;
    --vamtam-h6-font-size-phone: 18px;
    --vamtam-h6-line-height-desktop: 1.3em;
    --vamtam-h6-line-height-tablet: 1.3em;
    --vamtam-h6-line-height-phone: 1.3em;
    --vamtam-loading-animation: url('wp-content/themes/macchina/vamtam/assets/images/loader-ring.gif');
}